<div id="box-container">
	<div class="@Model.Item1CSSClass">
		<h2>@Model.Item1Title</h2>
		<a href="#"> </a>
	</div>
	<div class="@Model.Item2CSSClass">
		<h2>@Model.Item2Title</h2>
		<a href="#"> </a>
	</div>
	<div class="@Model.Item3CSSClass">
		<h2>@Model.Item3Title</h2>
		<a href="#"> </a>
	</div>
</div>